        body {
            background: url(back.jpg) no-repeat;
        }
        
        #Contenedor {
            background-color: white;
            padding-left: 300px;
            padding-right: 300px;
        }


        h1 {
            background-color: orangered;
        }