        #Encabezado {
            color: red;
        }

        #imagen {
            margin: auto;
        }

        .Párrafos {
            font-size: 8px;
            font-family: sans-serif;
        }