        #h1 {
            color: red;
            font-size: 32pt;
            font-family: Times;
            font-weight: bold;
        }

        #h2 {
            color: green;
            font-size: 24pt;
            font-family: verdana;
            font-weight: bold;
        }

        .p {
            color: black;
            font-size: 12pt;
            font-family: Arial;
            font-style: italic;
        }

        td{
            color: blue;
            font-family: Arial;
            font-size: 12px;
            font-style: normal;
            font-weight: bold;
        }

        table, tr,td,th {
            border: 1px solid black;
            border-collapse: collapse;
            text-align: center;
        }