        table, th, td{
            border: 1px solid black;
            border-collapse: collapse;
            text-align: center;
        }

        th,td{
        padding: 10px;
        }

        td.rojo:hover{
            background-color: red;
            color: black;
        }

        td.azul:hover{
            background-color: blue;
            color: black;
        }

        td.verde:hover{
            background-color: green;
            color: black;
        }

        td.celeste:hover{
            background-color: skyblue;
            color: black;
        }