    body{
        background-color: aquamarine;
        text-align: justify;
    }

    H1{
        background-color: yellow;
        text-align: center;
        color: green;
    }

    H2{
        background-color: palevioletred;
        color: white;
        text-align: center;
    }

    a{
        color: darkred;
        text-decoration: none;
    }

    a:hover{
        color: yellow;
        background-color: blue;
        font-size: 15pt;
    }