    table, tr, td, th{
        border: 3px solid yellowgreen;
        border-collapse: collapse;
        text-align: center;
        height: 50px;
        width: 90px;
    }

    .Cuadro{
        height: 10em;
        width: 10cm;
    }

    img{
        height: 600px;
        width: 800px;
    }

    .Horario{
        width: 18cm;
    }

    #gris{
        color: black;
        background-color: gray;
    }

    #orange{
        color: black;
        background-color: orange;
    }

    #morado{
        background-color: mediumorchid
    }