        body {
            font: .8em Arial, Sans-Serif;
            line-height: 1.8em;
            color: #444;
            margin: 0;
            padding: 0;
        }

        main {
            padding: 10px 10px 3px 10px;
            width: 760px;
            margin: 80px auto;
            background: #fff;
        }

        header{
            background: url(../images/header_verde.jpg);
            height: 215px;
            background-repeat: no-repeat;
        }

        h1 {
            font-size: 30px;
            font-weight: 100px;
            letter-spacing: -1px;
            padding: 22px 0 0 15px;
        }

        h1 a {
            color: #fff;
            text-decoration: none;
        }

        h1 a:hover {
            color: #000;
            text-decoration: none;
        }

        h2 {
            color: #eee;
            font-size: 19px;
            padding: 0 0 0 15px;
            letter-spacing: -1px;
            line-height: 0px;
        }

        #right {
            margin-bottom: 15px;
            float: left;
            width: 570px;
            padding: 0 10px 10px 10px;
            margin-top: 10px;
        }
