        h1 {
            text-align: center;
        }
        div {
            float: right;
            width: 25%;
        }
        article {
            width: 75%;
        }
        #contenidos {
            list-style: none;
            display: flex;
            gap: 25px;
        }
        #contenidos > li {
            width: 33%;
        }